Repository zbhcn/az-playerbot, changes with the labels that .github/labeler.yml gives for each.
All labels: file-cpp, DB, CORE, Script, UnitTests, Documentation, Bash, CMake, Workflow, Batch

fix crash
  modules/mod-playerbots/src/PlayerbotAI.cpp
  modules/mod-playerbots/src/strategy/actions/QueryQuestAction.cpp
Labels: none

Update README.md
  .github/README.md
Labels: Documentation

Update README.md
  .github/README.md
Labels: Documentation

teleport when area change and haven't master then leave group
  modules/mod-playerbots/src/PlayerbotAI.cpp
  modules/mod-playerbots/src/strategy/actions/AreaTriggerAction.cpp
Labels: none

修复小鬼BUFF和战士BUFF的BUG
  .github/README.md
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: file-cpp, CORE, Documentation

10月13日更新
  .gitignore
  modules/mod-1v1-arena/src/npc_arena1v1.cpp
  modules/mod-playerbots/src/PlayerbotAI.cpp
  modules/mod-playerbots/src/PlayerbotAI.h
  modules/mod-playerbots/src/PlayerbotAIConfig.cpp
  modules/mod-playerbots/src/PlayerbotAIConfig.h
  modules/mod-playerbots/src/RandomPlayerbotFactory.cpp
  modules/mod-playerbots/src/RandomPlayerbotMgr.cpp
  modules/mod-playerbots/src/strategy/AiObjectContext.cpp
  modules/mod-playerbots/src/strategy/ExternalEventHelper.cpp
  modules/mod-playerbots/src/strategy/ExternalEventHelper.h
  modules/mod-playerbots/src/strategy/actions/ActionContext.h
  modules/mod-playerbots/src/strategy/actions/AreaTriggerAction.cpp
  modules/mod-playerbots/src/strategy/actions/BattleGroundJoinAction.cpp
  modules/mod-playerbots/src/strategy/actions/ChooseTargetActions.cpp
  modules/mod-playerbots/src/strategy/actions/LfgActions.cpp
  modules/mod-playerbots/src/strategy/actions/MovementActions.cpp
  modules/mod-playerbots/src/strategy/actions/MovementActions.h
  modules/mod-playerbots/src/strategy/actions/NonCombatActions.cpp
  modules/mod-playerbots/src/strategy/actions/QueryQuestAction.cpp
  modules/mod-playerbots/src/strategy/mage/MageTriggers.cpp
  modules/mod-random-enchants/src/RandomEnchants.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/instance_culling_of_stratholme.cpp
Labels: file-cpp, Script

10月14日同步官方最新
  modules/mod-playerbots/src/PlayerbotAI.cpp
  modules/mod-playerbots/src/PlayerbotAI.h
  modules/mod-playerbots/src/PlayerbotAIConfig.cpp
  modules/mod-playerbots/src/PlayerbotAIConfig.h
  modules/mod-playerbots/src/RandomPlayerbotMgr.cpp
  modules/mod-playerbots/src/RandomPlayerbotMgr.h
  modules/mod-playerbots/src/strategy/actions/BattleGroundJoinAction.cpp
  modules/mod-playerbots/src/strategy/actions/DropQuestAction.cpp
  modules/mod-playerbots/src/strategy/actions/RpgAction.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/game/Combat/ThreatMgr.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Unit/CharmInfo.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Spell.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
  src/server/scripts/Northrend/zone_borean_tundra.cpp
  src/server/scripts/Northrend/zone_dragonblight.cpp
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: file-cpp, CORE, Script

1019同步
  modules/mod-playerbots/src/PlayerbotAI.cpp
  modules/mod-playerbots/src/PlayerbotAI.h
  modules/mod-playerbots/src/PlayerbotAIConfig.cpp
  modules/mod-playerbots/src/PlayerbotAIConfig.h
  modules/mod-playerbots/src/PlayerbotMgr.cpp
  modules/mod-playerbots/src/RandomPlayerbotMgr.cpp
  modules/mod-playerbots/src/RandomPlayerbotMgr.h
  modules/mod-playerbots/src/strategy/actions/BattleGroundJoinAction.cpp
  modules/mod-playerbots/src/strategy/actions/LeaveGroupAction.cpp
Labels: none

修复净化斯坦索姆王子不出现问题
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/culling_of_stratholme.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/instance_culling_of_stratholme.cpp
Labels: file-cpp, Script

.github/labeler.yml:

file-cpp:
- changed-files:
    - any-glob-to-any-file: 
      - 'src/**/*.cpp'
      - 'src/**/*.h'
      - 'deps/**/*.cpp'
      - 'deps/**/*.h'

DB:
- changed-files:
  - any-glob-to-any-file: 'data/**/*.sql'

CORE:
- changed-files:
    - any-glob-to-any-file:
      - 'src/*'
      - 'src/common/**/*'
      - 'src/genrev/**/*'
      - 'src/server/*'
      - 'src/server/apps/**/*'
      - 'src/server/database/**/*'
      - 'src/server/game/**/*'
      - 'src/server/shared/**/*'
      - 'src/tools/**/*'

Script:
- changed-files:
    - any-glob-to-any-file: 
      - 'src/server/scripts/**/*.cpp'
      - 'src/server/scripts/**/*.h'

UnitTests:
- changed-files:
    - any-glob-to-any-file: 'src/test/**/*'

Documentation:
- changed-files:
    - any-glob-to-any-file: '**/*.md'

Bash:
- changed-files:
    - any-glob-to-any-file: 
      - '*.sh'
      - 'apps/**/*.sh'
      - 'conf/**/*.sh'
      - 'deps/**/*.sh'
      - 'modules/**/*.sh'

CMake:
- changed-files:
    - any-glob-to-any-file: '**/*.cmake'

Workflow:
- changed-files:
    - any-glob-to-any-file: '.github/workflows/*'

Batch:
- changed-files:
    - any-glob-to-any-file: 'apps/**/*.bat'
